<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head> 
    <title>Login</title>
</head>
<body>   
    <div id="content">
        <h1>Welcome to Login Page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure deserunt repudiandae natus fuga maxime reiciendis sit ipsa nam modi culpa commodi similique, earum repellendus exercitationem debitis, sint sequi! Aspernatur, officiis.</p>
    </div>
    <script>
        console.log("Login page")
    </script>
</body>
</html>